$main_color: #F59D00;
$sec_color: #363EE8;
$thr_color: #142F3D;

$head_font: 'Playfair Display', 'helvetica', sans-serif;
$text_font: 'Source Sans Pro', 'helvetica', sans-serif;

$dropshadow: 0 .5rem 1rem #4e4433;